* {
    box-sizing: border-box;
    margin: 0px;
}
header {
    background: rgb(17, 140, 79);
}
/* .container-fluid {
    border-bottom: white solid 2px;
    background: rgb(17, 140, 79);
    height: 100px;
} */
.d-inline-block {
    margin-left: 10px;
    /* color: white; */
}
.oldalcim {
    color: rgb(17, 140, 79);
}
.navbar-nav {
    background: rgb(146, 197, 154);
    padding: 0px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.nav-item {
    font-size: 17px;
}
.nav-item:hover {
    background: rgb(17, 140, 79);
    color: white;
}
.nav-link:hover {
    background:  rgb(17, 140, 79);
    color: white;
    border-bottom: white solid 3px;
}

.navbar-toggler {
    background: rgb(146, 197, 154);
    margin-right: 10px;
}
/* .dropdown-item {
    background: rgb(146, 197, 154);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: black 1px;
} */
/* .dropdown-item:hover {
    background:  rgb(17, 140, 79);
    color: white;
    border-bottom: white solid 2px;
} */
.gomb_elfogad {
    background-color: rgb(17, 140, 79);
    height: 50px;
    width: 240px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.gomb_elfogad:hover {
    background-color: rgb(17, 140, 79);
    height: 50px;
    width: 240px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.gomb_torol {
    background-color: red;
    height: 50px;
    width: 240px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.gomb_torol:hover {
    background-color: red;
    height: 50px;
    width: 240px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.gomb_kilepes {
    background-color: red;
    height: 50px;
    width: 220px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.gomb_kilepes:hover {
    background-color: red;
    height: 50px;
    width: 220px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}